.card {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: yellow;
  width: 400px;
  height: 150px;
  padding: 10px;
  border: 1px dashed #000000;
  border-radius: 12px;
  transition-duration: 1s;
}
